img{width: 100%;}

h1{text-align: center;}

li{text-align: left;}

main{background-image: url("../images/pexels-tirachard-kumtanom-112571-733857.jpg");
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.circle {
    height: 80px;
    width: 80px;
    background-color: #69443C;
    border-radius: 50%;
    grid-row: 1;
  }

h1{
    text-align: center;
    color: #69443C;
    font-weight: bold;
    font-size: 5em;
    
}

cir:nth-of-type(1){grid-column: 1;}
cir:nth-of-type(2){grid-column: 2;}
cir:nth-of-type(3){grid-column: 3;}

.home{grid-column: 1; 
    grid-row: 2;}
.mission{grid-column: 2; 
    grid-row: 2;}
.article{grid-column: 3; 
    grid-row: 2;}

h2{
    text-align: center;
    color: #69443C;
    font-weight: bold;
    font-size: 5em;

}

.drapes{
    text-align: center;
    color: #69443C;
    font-size: 2em;
}

.footer{bottom: 0;}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    
}

main {
    flex: 1;
    background-color: #69443C;
}

p{
    text-align: left;
    color: #69443C;
    font-size: 2em;
}

.disclaimer{ float: left;}
a{color: white;}

header h1{margin-top: -90px;
margin-bottom: -14px;}

header{margin: 0;
padding: 0;}

.socialed{
    float: right;
    width: 60px;
    height: 60px;
    margin-right: 50px;
    margin-top: 20px;
    border-radius: 50%;}


.social{
    float: right;
}

menu{display: flex;}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 80px; 
    height: 80px; 
    background-color: #69443C; 
    border-radius: 50%;
    color: white; 
    text-decoration: none; 
    font-size: 14px; 
    text-align: center; 
}

.white1{color: white;
background-color: #69443C;
text-align: center;
margin-bottom: 0;
font-size: 70px;
}


.white2{color: white;

text-align: center;
margin-top: 0;
margin-bottom: 0;

}

img{float: left;
border-radius: 20px;
max-width: 20%;

margin-top: 0;
margin-bottom: 0;
text-align: center;
}
.white3{background-color: aliceblue;
text-align: center;
font-size: 43px;
margin-left: 50px;
margin-right: 50px;}

full{background-color: #69443C;}