img{width: 100%;}

h1{text-align: center;}

li{text-align: left;}

main{background-image: url("../images/pexels-tirachard-kumtanom-112571-733857.jpg");
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

grid-container{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 25px 1fr;
    position:relative;
}

.circle {
    height: 80px;
    width: 80px;
    background-color: #69443C;
    border-radius: 50%;
    grid-row: 1;
  }

h1{
    text-align: center;
    color: #69443C;
    font-weight: bold;
    font-size: 5em;
    
}

cir:nth-of-type(1){grid-column: 1;}
cir:nth-of-type(2){grid-column: 2;}
cir:nth-of-type(3){grid-column: 3;}

.home{grid-column: 1; 
    grid-row: 2;}
.mission{grid-column: 2; 
    grid-row: 2;}
.article{grid-column: 3; 
    grid-row: 2;}

h2{
    text-align: center;
    color: #69443C;
    font-weight: bold;
    font-size: 5em;

}

p10{
    text-align: center;
    color: #69443C;
    font-size: 2em;
}

.footer{bottom: 0;}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    flex: 1;
}

p{
    text-align: left;
    color: #69443C;
    font-size: 2em;
}

.social{
    text-align: right;
}

a{color: white;}

header h1{margin-top: -40px;
margin-bottom: -14px;}

header{margin: 0;
padding: 0;}